{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Biryani</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="recipe-container">
        <h1>Chicken Biryani</h1>
        <img src="{% static 'img/recipe3.jpg' %}" alt="Chicken Biryani">
        <h2>Ingredients</h2>
        <ul>
            <li>500g Chicken</li>
            <li>2 cups Basmati Rice</li>
            <li>1 Onion (sliced)</li>
            <li>2 Garlic Cloves (minced)</li>
            <li>1 tbsp Biryani Masala</li>
            <li>1/2 cup Yogurt</li>
            <li>1/2 tsp Turmeric</li>
            <li>1/2 tsp Red Chili Powder</li>
            <li>Salt to taste</li>
            <li>2 tbsp Ghee</li>
        </ul>
    </div>
</body>
</html>
