{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate Cake</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="recipe-container">
        <h1>Chocolate Cake</h1>
        <img src="{% static 'img/recipe1.jpg' %}" alt="Chocolate Cake">
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup All-Purpose Flour</li>
            <li>1/2 cup Cocoa Powder</li>
            <li>1 cup Sugar</li>
            <li>1/2 cup Butter (melted)</li>
            <li>2 Eggs</li>
            <li>1/2 cup Milk</li>
            <li>1 tsp Vanilla Extract</li>
            <li>1 tsp Baking Powder</li>
            <li>1/2 tsp Baking Soda</li>
            <li>Pinch of Salt</li>
        </ul>
    </div>
</body>
</html>
