{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paneer Makhni</title>
    <img src="{% static 'img/recipe4.jpg' %}" alt="Paneer Makhni">
</head>
<body>
    <div class="recipe-container">
        <h1>Paneer Makhni</h1>
        <img src="paneer_makhni.jpg" alt="Paneer Makhni">
        <h2>Ingredients</h2>
        <ul>
            <li>250g Paneer (cubed)</li>
            <li>2 Tomatoes (pureed)</li>
            <li>1 Onion (chopped)</li>
            <li>2 Garlic Cloves (minced)</li>
            <li>1/2 cup Cream</li>
            <li>1 tsp Garam Masala</li>
            <li>1/2 tsp Red Chili Powder</li>
            <li>1 tbsp Butter</li>
            <li>Salt to taste</li>
        </ul>
    </div>
</body>
</html>
